body {
    background-color: white;
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.First_Row {
    background-color: hsl(0, 0%, 85%);
    /* border: solid 1px black; */
    display: flex;
    height: 10vh;
    width: 100vw;
}

.Small_Box {
    background-color: hsl(212, 73%, 59%);
    /* border: solid 1px black; */
    display: flex;
    height: 8vh;
    width: 4vw;
    margin-top: 0.5%;
    margin-left: 2%;

}

.Second_Row {
    /* border: solid 1px black; */
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: center;
	align-items: center;
    align-content: center;
    text-align: center;
    word-wrap: break-word;
}

p {
    font-size: 35px;
}


.Third_Row {
    background-color: hsl(212, 73%, 59%);
    /* border: solid 1px black; */
    display: flex;
    height: 10vh;
    width: 100vw;
}

.Fourth_Row {
    background-color: hsl(167, 73%, 60%);
    /* border: solid 1px black; */
    display: flex;
    height: 10vh;
    width: 100vw;
}

.Fifth_Row {
    background-color: hsl(90, 69%, 72%);
    /* border: solid 1px black; */
    display: flex;
    height: 10vh;
    width: 100vw;
}

.Sixth_Row {
    background-color: hsl(55, 94%, 54%);
    /* border: solid 1px black; */
    display: flex;
    height: 10vh;
    width: 100vw;
}